.HeaderContainer{
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50px;
    
    // background-color: aquamarine;
    border: 0 solid #284B63;
    border-width: 0 30px;

    div {
        font-size: 30px;
        line-height: 30px;

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}